:root {
    --bg-color: #1F1F1F;
    --primary-white: #F4F4F4;
    --primary-black: #000000;
    --primary-orange: #ED2E14;
    --secondary-red: #860000;
    --secondary-gray: #52545C;
}

* {
    font-family: 'Raleway';
}

body {
    background-color: var(--bg-color);
}

header {
    display: flex;
    margin: 3rem 6rem;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline-block;
    position: relative;
    color: var(--primary-white);
    font-size: 2rem;
    margin: 1rem;
}

nav ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: var(--primary-orange);
    transform: translateX(-50%);
    transition: width 0.5s ease;
}

nav ul li:hover::after {
    width: 100%;
}

nav ul li:hover {
    color: var(--primary-orange);
}

a {
    color: inherit;
    text-decoration: none;
}

.presentation {
    display: flex;
    justify-content: center;
    margin: 12.75rem 6rem;
}

.my-name {
    color: var(--primary-orange);
    font-size: 6rem;
    font-weight: bold;
    margin: 0px;
}

.console-underscore {
    display: inline-block;
    color: var(--primary-white);
    top: -0.14em;
    left: 10px;
    font-size: 4.5rem;
}

.position {
    color: var(--primary-white);
    font-size: 4rem;
    font-weight: bold;
    margin: 1rem 0;
}

.btn {
    border-radius: 5px;
    border: none;
    background-color: var(--primary-orange);
    color: var(--primary-black);
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 1px 10px var(--primary-orange);
    /* background-color: var(--secondary-red); */
    color: var(--primary-white);
}

.contact-me {
    font-size: 1.5rem;
    padding: 0.5rem;
    height: 3.5rem;
    width: 14rem;
}

.profile-picture {
    border-radius: 200px;
    width: 300px;
    height: 300px;
    margin-left: 12.25rem;
    box-shadow: 0px 5px 250px -20px var(--primary-orange);
}

.circle {
    position: absolute;
    border-radius: 300px;
    width: 500px;
    height: 500px;
    border: 2px solid var(--secondary-red);
    z-index: -1;
    transform: translate(-25%, -10%);
}

.hidden {
    opacity: 0;
}

.about {
    margin: 20rem 6rem 8rem 6rem;
}

.about h1 {
    font-size: 3rem;
    color: var(--primary-white);
    margin-bottom: 1rem;
}

.about-description {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    color: var(--primary-white);
}

.about-description p {
    margin: 0;
    width: 85vw;
}

.line-container {
    display: flex;
    align-items: center;
    height: 2rem;
}

.line {
    border-radius: 5px;
    background-color: var(--primary-orange);
    width: 50px;
    height: 5px;
}

.technologies {
    margin: 0 6rem;
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 3rem;
    color: var(--primary-white);
    border-bottom: 2px solid var(--primary-orange);
}

.technologies-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    grid-template-rows: repeat(2, 1fr);
    margin: 6rem;
}

.technology-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    background-color: var(--secondary-gray);
}
.technology-block:hover
{
    background-color: var(--primary-orange);
    box-shadow: 2px 5px 10px var(--primary-orange);
}
.technology-block-name
{
    color: var(--primary-white);
    font-size: 2rem;
    font-weight: bold;
}
.projects
{
    margin: 0 6rem;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1F1F1F;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #ED2E14;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ED2E14;
}